html{
  font-size: 1.3rem;
}
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
img{
  position: absolute;
  z-index: -1;
}
#img-top{
  top: 0;
  right: 0;
}
#img-bottom{
  bottom: 0;
  left: 0;
}
#myCheckbox{
  display: none;
}
h1{
  font-size: 1.5rem;
  margin: 1em;
}

/* styling the switch toggle buttom */
label{
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
label:hover{
  opacity: 0.5;
}
label::before{
  content: "Annually";
  right: 100%;
  padding-right: 2em;
}
label::after{
  content: "Monthly";
  left: 100%;
  padding-left: 2em;
}
label > span, label > span::before, label::before, label::after{
  position: absolute;
  border-radius: 2em;
  font-size: 0.7rem;
}
label > span{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(90deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}
label > span::before{
  content: "";
  position: absolute;
  background-color: white;
  transition: .4s;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
}

#myCheckbox:checked ~ label > span::before{
  transform: translateX(15px);
}

/* styling prices part */
.plans-content{
  display: flex;
  flex-direction: row;
  width: 76%;
  margin: 2em auto;
  align-items: baseline;
}
.plan-package{
  width: 33.33%;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 .5rem 2.5rem rgba(0,0,0,.15)!important;
  padding: 1em 1.5em;
  align-self: center;
}
#professional-plan{
  padding: 2em 1.5em;
  background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  box-shadow: none;
}
#professional-plan h2, #professional-plan li{
  color: white;
  border-color: white;
}
#myCheckbox ~ .plans-content .price1::before{
  content: "$199.99";
}
#myCheckbox:checked ~ .plans-content .price1::before{
  content: "$19.99";
}
#myCheckbox ~ .plans-content .price2::before{
  content: "$249.99";
}
#myCheckbox:checked ~ .plans-content .price2::before{
  content: "$24.99";
}
#myCheckbox ~ .plans-content .price3::before{
  content: "$399.99";
}
#myCheckbox:checked ~ .plans-content .price3::before{
  content: "$39.99";
}

h2, li{
  font-size: 1rem;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  padding: 1.25em 0;
  border-bottom: 1px solid hsla(0, 100%, 90%, 0.5);
}
.price1, .price2, .price3{
  font-size: 3.5rem;
  padding: 0 0 0.4em;
}
.learn-more{
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
  margin: 1em 0;
  background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
.learn-more:hover{
  background-image: none;
  background-color: transparent;
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}
#professional-plan .learn-more{
  background: white;
  color: hsl(237, 63%, 64%);
}
#professional-plan .learn-more:hover{
  color: white;
  background-color: transparent;
  border: 1px solid white;
}






.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 1500px){
  html{
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px){
  html{
    font-size: 0.7rem;
  }
  body{
    overflow-x: hidden;
  }
  #img-bottom{
    display: none;
  }
  #img-top{
    transform: translate(200px, -50px);
  }
  h1{
    font-size: 3.5rem;
    margin: 1em;
  }
  label{
    width: 50px;
    height: 30px;
  }
  label::before, label::after{
    font-size: 1.3rem;
  }
  label > span, label > span::before{
    border-radius: 2em;
  }
  label > span::before{
    width: 24px;
    height: 24px;
  }
  #myCheckbox:checked ~ label > span::before{
    transform: translateX(20px);
  }

  h2, li, .learn-more{
    font-size: 1.5rem;
  }
  li{
    padding: 1.4em 0;
  }
  .price1, .price2, .price3{
    font-size: 6rem;
    /* padding: 0.5em 0; */
  }
  .plans-content{
    flex-direction: column;
    width: auto;
  }
  .plan-package{
    width: 80%;
    margin: 1.5em 0;
    border-radius: 1em;
  }
  /* #professional-plan{
    padding: 1em 1.5em;
  } */


}
